@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'comic sans ms';
    font-size: 18.5px;

}

img{
    height: 400px;
    border: 1px solid black; 
    border-radius: 10px;
    display: block;
    margin: auto;
    height: 100vh
}

main{
    background-color: black;
    text-align: center;
    color: lightgreen;
}